[submodule "packages/team1"]
	path = packages/team1
	url = https://github.com/BzenkoSergey/subtree-team1.git
[submodule "packages/team2"]
	path = packages/team2
	url = https://github.com/BzenkoSergey/subtree-team2.git
[submodule "packages/common"]
	path = packages/common
	url = https://github.com/BzenkoSergey/subtree-common.git
[submodule "packages/styles"]
	path = packages/styles
	url = https://github.com/BzenkoSergey/subtree-styles.git
